# portfolio/
.txt
.DS_Store
.log

# portfolio/db

# portfolio/nodejs
nodejs/config/.env
nodejs/config/sslkeys/cloudfront
nodejs/node_modules
nodejs/test.js
nodejs/*.log
nodejs/.DS_Store
nodejs/logs
nodejs/*.log
nodejs/npm-debug.log*
nodejs/yarn-debug.log*
nodejs/yarn-error.log*
nodejs/lerna-debug.log*
nodejs/.pnpm-debug.log*
nodejs/report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
nodejs/pids
nodejs/*.pid
nodejs/*.seed
nodejs/*.pid.lock
nodejs/lib-cov
nodejs/coverage
nodejs/*.lcov
nodejs/.nyc_output
nodejs/.grunt
nodejs/bower_components
nodejs/.lock-wscript
nodejs/build/Release
nodejs/jspm_packages/
nodejs/web_modules/
nodejs/*.tsbuildinfo
nodejs/.npm
nodejs/.eslintcache
nodejs/.stylelintcache
nodejs/.rpt2_cache/
nodejs/.rts2_cache_cjs/
nodejs/.rts2_cache_es/
nodejs/.rts2_cache_umd/
nodejs/.node_repl_history
nodejs/*.tgz
nodejs/.yarn-integrity
nodejs/.env
nodejs/.env.development.local
nodejs/.env.test.local
nodejs/.env.production.local
nodejs/.env.local
nodejs/.cache
nodejs/.parcel-cache
nodejs/.next
nodejs/out
nodejs/.nuxt
nodejs/dist
nodejs/.cache/
nodejs/.vuepress/dist
nodejs/.temp
nodejs/.cache
nodejs/.docusaurus
nodejs/.serverless/
nodejs/.fusebox/
nodejs/.dynamodb/
nodejs/.tern-port
nodejs/.vscode-test
nodejs/.yarn/cache
nodejs/.yarn/unplugged
nodejs/.yarn/build-state.yml
nodejs/.yarn/install-state.gz
nodejs/.pnp.*

# portfolio/reactjs
reactjs/node_modules
reactjs/.DS_Store
reactjs/*.log
reactjs/npm-debug.log*
reactjs/yarn-debug.log*
reactjs/yarn-error.log*
reactjs/lerna-debug.log*
reactjs/.pnpm-debug.log*
reactjs/report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
reactjs/pids
reactjs/*.pid
reactjs/*.seed
reactjs/*.pid.lock
reactjs/lib-cov
reactjs/coverage
reactjs/*.lcov
reactjs/.nyc_output
reactjs/.grunt
reactjs/bower_components
reactjs/.lock-wscript
reactjs/build/Release
reactjs/jspm_packages/
reactjs/web_modules/
reactjs/*.tsbuildinfo
reactjs/.npm
reactjs/.eslintcache
reactjs/.stylelintcache
reactjs/.rpt2_cache/
reactjs/.rts2_cache_cjs/
reactjs/.rts2_cache_es/
reactjs/.rts2_cache_umd/
reactjs/.node_repl_history
reactjs/*.tgz
reactjs/.yarn-integrity
reactjs/.env
reactjs/.env.development.local
reactjs/.env.test.local
reactjs/.env.production.local
reactjs/.env.local
reactjs/.cache
reactjs/.parcel-cache
reactjs/.next
reactjs/out
reactjs/.nuxt
reactjs/dist
reactjs/.cache/
reactjs/.vuepress/dist
reactjs/.temp
reactjs/.cache
reactjs/.docusaurus
reactjs/.serverless/
reactjs/.fusebox/
reactjs/.dynamodb/
reactjs/.tern-port
reactjs/.vscode-test
reactjs/.yarn/cache
reactjs/.yarn/unplugged
reactjs/.yarn/build-state.yml
reactjs/.yarn/install-state.gz
reactjs/.pnp.*